.background13 {
  height: 8px;
  width: 56px;
  position: absolute;
  margin: 0 !important;
  top: 54px;
  left: 0;
  border-radius: 4px;
  background-color: #262626;
}
.heading-2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.featured-cards-grid-links {
  align-self: stretch;
  height: 696px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  box-sizing: border-box;
  position: relative;
}
.featured-cards-view-all {
  width: 200px;
  height: 46px;
}
.featured-cards-content,
.featured-cards-grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.featured-cards-grid {
  align-self: stretch;
  gap: 32px;
  font-size: 24px;
}
.featured-cards-content {
  flex: 1;
  gap: 52px;
  max-width: 100%;
}
.featured,
.featured-cards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.featured-cards {
  width: 1680px;
  justify-content: flex-start;
  position: relative;
}
.featured {
  align-self: stretch;
  justify-content: center;
  padding: 0 20px 80px;
  box-sizing: border-box;
  text-align: left;
  font-size: 38px;
  color: #0f0a1b;
  font-family: Inter;
}
@media screen and (max-width: 1275px) {
  .featured {
    padding-bottom: 52px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .heading-2 {
    font-size: 30px;
    line-height: 34px;
  }
  .featured-cards-grid {
    gap: 16px;
  }
  .featured-cards-content {
    gap: 26px;
  }
  .featured {
    padding-bottom: 34px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading-2 {
    font-size: 23px;
    line-height: 25px;
  }
}
