.logo-icon3 {
  align-self: stretch;
  height: 50px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.a-little-goes2 {
  position: relative;
  line-height: 24px;
  font-weight: 900;
}
.link-icon10,
.link-icon11,
.link-icon8,
.link-icon9 {
  align-self: stretch;
  width: 24px;
  position: relative;
  max-height: 100%;
  min-height: 35px;
}
.social-links {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.footer-logo,
.slogan {
  width: 170.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.footer-logo {
  width: 252px;
  gap: 16px;
}
.about-us2,
.company2 {
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.company2 {
  font-weight: 500;
  min-width: 82px;
}
.about-us2 {
  color: inherit;
  text-decoration: none;
  min-width: 68px;
  white-space: nowrap;
}
.link21 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5px 4px 1.5px 0;
}
.press2 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 42px;
}
.link22 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5px 30px 1.5px 0;
}
.careers2 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 60px;
}
.link23 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5px 12px 1.5px 0;
}
.container6 {
  overflow: hidden;
  padding: 16px 0 0;
  gap: 8px;
  font-size: 16px;
}
.company-name1,
.container6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.legal2,
.privacy-notice2 {
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.legal2 {
  font-weight: 500;
  min-width: 47px;
}
.privacy-notice2 {
  color: inherit;
  text-decoration: none;
  min-width: 107px;
}
.link24 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5px 0 1.5px;
}
.terms-conditions4 {
  margin-left: -0.4px;
  position: relative;
  line-height: 22px;
  color: inherit;
  display: inline-block;
  text-decoration: none;
}
.legal-link-items,
.link25 {
  display: flex;
  justify-content: flex-start;
}
.link25 {
  height: 24px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 12px 7px 0;
  box-sizing: border-box;
}
.legal-link-items {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.link26 {
  align-self: stretch;
  height: 24px;
  position: relative;
  display: none;
}
.cookies2 {
  position: absolute;
  margin: 0 !important;
  top: -37px;
  left: 0;
  line-height: 22px;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  min-width: 61px;
}
.container7,
.legal-info1,
.link27 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link27 {
  align-self: stretch;
  height: 24px;
  flex-direction: row;
  position: relative;
}
.container7,
.legal-info1 {
  flex-direction: column;
}
.container7 {
  align-self: stretch;
  overflow: hidden;
  padding: 16px 0 0;
  gap: 40px;
  font-size: 16px;
}
.legal-info1 {
  width: 175px;
}
.help4,
.support-centre2 {
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.help4 {
  font-weight: 500;
  min-width: 40px;
}
.support-centre2 {
  min-width: 114px;
  flex-shrink: 0;
  debug_commit: 448091;
  white-space: nowrap;
}
.link28 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5px 0 1.5px;
}
.sitemap2 {
  position: relative;
  line-height: 22px;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  min-width: 62px;
}
.link29 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5px 0 1.5px;
}
.container8 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  padding: 16px 0 0;
  gap: 8px;
  font-size: 16px;
}
.company-info2,
.container8,
.footer2,
.help3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.help3 {
  width: 112.4px;
  flex-direction: column;
}
.company-info2,
.footer2 {
  flex-direction: row;
  gap: 64px;
  max-width: 100%;
  font-size: 18px;
}
.footer2 {
  align-self: stretch;
  background-color: #fff;
  justify-content: space-between;
  padding: 64px 120px;
  box-sizing: border-box;
  gap: 20px;
  text-align: left;
  font-size: 14px;
  color: #1d1d1d;
  font-family: Inter;
}
@media screen and (max-width: 1050px) {
  .footer2 {
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .company-info2 {
    flex-wrap: wrap;
    gap: 32px;
  }
  .footer2 {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}
