.logo-icon6 {
  height: 50px;
  width: 254px;
  position: relative;
}
.send-top-up2,
.svg-icon13 {
  position: relative;
  flex-shrink: 0;
  debug_commit: 448091;
}
.send-top-up2 {
  text-decoration: none;
  line-height: 24px;
  font-weight: 900;
  color: inherit;
  display: inline-block;
  min-width: 91.9px;
  white-space: nowrap;
}
.svg-icon13 {
  width: 10px;
  height: 10px;
  object-fit: contain;
}
.link-icons,
.link36 {
  align-items: flex-start;
}
.link-icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 7px 0 0;
}
.link36 {
  flex-direction: row;
  padding: 0 0 0.5px;
  gap: 11.8px;
}
.item9,
.link36,
.navigation-links {
  display: flex;
  justify-content: flex-start;
}
.item9 {
  height: 24px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0;
  box-sizing: border-box;
}
.navigation-links {
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 0 0;
}
.gift-cards3 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  font-weight: 900;
  color: inherit;
  display: inline-block;
  min-width: 76.7px;
  flex-shrink: 0;
  debug_commit: 448091;
  white-space: nowrap;
}
.item-link9,
.navigation-links1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0.5px;
}
.navigation-links1 {
  flex-direction: column;
  padding: 7.5px 0 0;
}
.company5 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  font-weight: 900;
  color: inherit;
  display: inline-block;
  min-width: 71.7px;
}
.svg-icon14 {
  width: 10px;
  height: 10px;
  position: relative;
  object-fit: contain;
}
.svg-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px 0 0;
}
.link37 {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0.5px;
  gap: 11.8px;
}
.item10,
.link37,
.navigation-links2 {
  display: flex;
  justify-content: flex-start;
}
.item10 {
  height: 24px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0;
  box-sizing: border-box;
}
.navigation-links2 {
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 0 0;
}
.help6 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  font-weight: 900;
  color: inherit;
  display: inline-block;
  min-width: 33.6px;
  flex-shrink: 0;
  debug_commit: 448091;
}
.item-link10,
.navigation-links3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0.5px;
}
.navigation-links3 {
  flex-direction: column;
  padding: 7.5px 0 0;
}
.svg-icon15 {
  width: 16px;
  height: 16px;
  position: relative;
}
.language-icon1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.en3 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 900;
  color: inherit;
  display: inline-block;
  min-width: 20.5px;
}
.svg-icon16 {
  width: 10px;
  height: 24px;
  position: relative;
  object-fit: contain;
}
.language-dropdown1 {
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px 0 0;
  box-sizing: border-box;
}
.link38 {
  padding: 0 4px 0 0;
  gap: 5.8px;
}
.item11,
.language-selector,
.link38 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.language-selector {
  flex-direction: column;
  padding: 8px 0 0;
}
.item-link11 {
  height: 40px;
  width: 83.7px;
}
.nav-list3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 0 32px;
  gap: 20px;
}
.header-navigation1,
.header3 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.header-navigation1 {
  width: 655px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px 0 0;
}
.header3 {
  align-self: stretch;
  background-color: #1d1d1d;
  flex-direction: row;
  justify-content: center;
  padding: 24px 20px;
  gap: 771px;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: 14px;
  color: #fff;
  font-family: Inter;
}
@media screen and (max-width: 1275px) {
  .header3 {
    gap: 385px;
  }
}
@media screen and (max-width: 750px) {
  .header3 {
    gap: 193px;
  }
}
@media screen and (max-width: 450px) {
  .header3 {
    gap: 96px;
  }
}
