.imageshadow-icon1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 1px;
  transform: scale(1.142);
}
.wrapper-imageshadow1 {
  position: absolute;
  top: -24px;
  left: calc(50% - 120px);
  border-radius: 8px;
  width: 240px;
  height: 155px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background12 {
  align-self: stretch;
  height: 156px;
  position: relative;
  border-radius: 8px 8px 0 20px;
  background-color: #dbbb6a;
}
.beauty-fashion,
.choice-gift-card {
  margin: 0;
}
.beauty-fashion-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 600;
  font-family: inherit;
}
.background-icon2 {
  height: 32px;
  width: 32px;
  position: relative;
  border-radius: 32px 0 16px 0;
}
.background-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.beauty-fashion-choice-gift-c-parent,
.link5 {
  width: 274px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px;
}
.link5 {
  width: 298px;
  margin: 0 !important;
  position: absolute;
  top: 24px;
  left: 691px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 8px 8px 16px 8px;
  background-color: #fff;
  align-items: flex-end;
  gap: 27px;
  text-align: left;
  font-size: 24px;
  color: #0f0a1b;
  font-family: Inter;
}
@media screen and (max-width: 450px) {
  .beauty-fashion-container {
    font-size: 19px;
    line-height: 23px;
  }
}
